UL.documents {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
UL.documents LI {
  background-color: #eee;
  border-radius: 4px;
  margin: 0 0 8px 0;
  line-height: 38px;
  cursor: pointer;
}
UL.documents LI:hover {
  background: #ddd;
  color: #607D8B;
}
UL.documents LI SPAN.badge {
  display: inline-block;
  background-color: #607D8B;
  width: 38px;
  color: white;
  border-radius: 4px 0 0 4px;
  margin-right: 8px;
  text-align: center;
}
TABLE.documents {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
}
TABLE.documents TD,
TABLE.documents TH {
  padding: 0 8px;
}
TABLE.documents TH {
  text-align: left;
}
TABLE.documents TH.badge {
  text-align: center;
}
TABLE.documents TD {
  background-color: #ddd;
  line-height: 38px;
}
TABLE.documents TD.badge {
  background-color: #607D8B;
  color: white;
  text-align: center;
  border-radius: 4px 0 0 4px;
}
TABLE.documents TBODY TR:hover TD {
  background: #eee;
  color: #607D8B;
  cursor: pointer;
}
TABLE.documents TBODY TR:hover TD.badge {
  background-color: #607D8B;
  color: white;
}
